HIST_VERSION = 0.0.1
HIST_MAJOR_VERSION = 0
HIST_MINOR_VERSION = 0
HIST_PATCH_VERSION = 1
#KKS_PATCH1_VERSION = 2

PRODUCT_NAME = QT_HIST
ORGANIZATION = VKA
EXECUTABLE_PREFIX = QT_HIST

#installation params
HIST_PREFIX = /usr/local/qt_hist
HIST_DATA_DIR = $$HIST_PREFIX/data


#external libraries paths
EXT = /usr
EXTERNAL_PREFIX = $$EXT
GSL_HOME_DIR = $$EXT
GSL_LIB_DIR = $$EXT/lib
GSL_INC_DIR = $$EXT/include

#additional installation params
HIST_EXEC_DIR = $$HIST_PREFIX/bin
HIST_BIN_DIR = $$HIST_PREFIX/bin
HIST_LIB_DIR = $$HIST_PREFIX/lib
HIST_INCLUDE_DIR = $$HIST_PREFIX/include
HIST_PLUGIN_DIR = $$HIST_PREFIX/lib/plugins
HIST_DOC_DIR = $$HIST_PREFIX/share/doc
HIST_TRANSL_DIR = $$HIST_PREFIX/bin

DEFINES *= _CRT_NONSTDC_NO_DEPRECATE
DEFINES *= _CRT_SECURE_NO_WARNINGS

CONFIG += debug
#QMAKE_CXXFLAGS += -g
QMAKE_CFLAGS_DEBUG += -g
QMAKE_CXXFLAGS_DEBUG += -g
